.carousel-item{
  min-height: 340px;
  text-align: center;
  height: 100%;
}

.carousel{
  flex: 1;
}

.carousel-item img {
  position: absolute;   
  top: 20%;
  transform: translateY(-50%);
  transform: translateX(-50%);
  margin: auto;
}

.carousel-indicators {
  /* margin-bottom: 8px;
  height: 30px;
  border-top: 0px; */
}
  
.carousel-indicators>button {
  /* width: 20px;
  height: 20px;
  border-radius: 100%; */
}

  